body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  margin: auto;
  padding-top: 20px;
}

/* Add some padding inside the card container */
.container {
  padding: 20px 30px;
}

#links {
  width: 100%;
  margin: auto;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  font-size: large;
  font-weight: bolder;
  text-align: left;
  padding-left: 30px;
}